___
# Capítulo 1 - Manipulação de dados: Básico
## Seção 6 - Contando e removendo valores em branco
___

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
em_branco = np.nan
np.random.seed(25)
df = DataFrame(np.random.rand(36).reshape(6,6))
df.loc[3:5, 0] = em_branco
df.loc[1:4, 5] = em_branco
df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

### Contando valores em branco

#### nome_do_objeto.isnull().sum()

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Para calcular a quantidade de valores nulos que o nosso DataFrame tem por coluna podemos usar o método `.isnull()`, e então usar o método `.sum()` a partir da matriz de valores Booleanos.

In [3]:
df.isnull().sum()

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

### Removendo valore sem branco

#### nome_do_objeto.dropna()

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Para identificar e remover as linhas que contém qualquer valor nulo, usamos o método `.dropna()`.

NOTA: Se você quiser remover as colunas que apresentam valores nulos, basta passar `axis=1` como argumento para o método para que ele considere colunas ao invés de linhas.

In [7]:
df.dropna()

          0         1         2         3       4         5
0  0.870124  0.582277  0.278839  0.185911  0.4111  0.117376

In [8]:
df.dropna(axis=1)

          1         2         3         4
0  0.582277  0.278839  0.185911  0.411100
1  0.437611  0.556229  0.367080  0.402366
2  0.585445  0.161985  0.520719  0.326051
3  0.836375  0.481343  0.516502  0.383048
4  0.559053  0.034450  0.719930  0.421004
5  0.900274  0.669612  0.456069  0.289804